$primary-color: #f2f2f2;
$secondary-color: #252525;
$accent-color: #1CC6FF;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
    background: $primary-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

.mobile-info {
    display: none;
}

// =====================================================================================
//
// NAVBAR CONTENT
//
// =====================================================================================

#navbar {
    background-color: $secondary-color;
    padding: 0 3%;
    display: flex;
    align-items: center;

    a {
        color: $primary-color;
        text-decoration: none;
    }

    a:hover, #shopping-cart:hover, #logo:hover  {
        color: $accent-color;
        transition: .2s;
        cursor: pointer;
    }

    #logo {
        font-size: 5em;
        padding: 0 .5rem;
        transition: .2s;

    }

    #navbar-page-links{
        font-size: 2em;

        a {
            padding: 0 1.3rem;
            transition: .2s;
        }

    }

    #navbar-social-links {
        font-size: 2em;
        a {
            padding: 1rem;
        }

    }

    #shopping-cart {
        font-size: 3em;
        padding-left: 1rem;
        transition: .2s;

    }
}

// =====================================================================================
//
// LANDING CONTENT / HERO IMAGE
// 
// =====================================================================================

.landing-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.1)), url(../images/1109-Larry-Wheels-main.jpg);
    height: 60vh;
    position: relative;
    top: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .landing-text {
        text-align: center;
        flex-grow: 1;

        h1 {
            padding-top: 4rem;
            margin: 0 0 0 50%;
            font-size: 4vw;
            font-weight: 700;
            display: inline-block;
        }

        h2 {
            padding-top: 1rem;
            margin: 0 0 0 50%;
            font-weight: 400;
            width: 50%;
            font-size: 1.6vw;
            display: inline-block;
        }

        .button {
            display: inline-block;
            padding: 30px;
            margin: 5% 0 0 50%;
            font-weight: 700;
            font-size: 2rem;
            text-decoration: none;
            color: $primary-color;
            background-color: $secondary-color;
            border-radius: 5%;
            transition: .15s;
        }

        .button:hover {
            background-color: $accent-color;
            color: $secondary-color;
            transition: .2s;
            font-size: 2.1em;
            padding: 32px;
        }
    }
}

// =====================================================================================
//
// OUR STORY SECTION
// 
// =====================================================================================

.about-section {
    p {
        font-size: 2rem;
    }
}

// =====================================================================================
//
// BLOG POST PREVIEW
// 
// =====================================================================================

.blog-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .blog-post-preview {
        max-width: 25rem;
        display: inline-block;
        transition: .2s;
        flex: none;
        padding: 1rem;

        .blog-post-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.1)), url(../images/1109-Larry-Wheels-main.jpg);
            background-size: cover;
            height: 25vh;
        }
         
        h1 {
            color: $primary-color;
            background-color: $secondary-color;
            padding: 1rem;
            margin: 0;

            // TEMP
            span {
                font-size: 1rem;
            }
            //
        }

        .meta-content {
            font-size: 1.2rem;
            color: $accent-color;
            padding: none;
            border: none;
        }

        .description {
            font-size: 1.5rem;
            border-bottom: $primary-color 5px solid;
        }
    }
    
    .blog-post-preview:hover {
        h1 {
            color: $accent-color;
        }

        .meta-content:hover {
            padding: none;
            border-bottom: none;
        }

        .description {
            border-bottom: $accent-color 5px solid;
        }
    }
}

// =====================================================================================
//
// FOOTER
// 
// =====================================================================================

.footer {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
        color: $primary-color;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        transition: .2s;
    }

    a:hover {
        color: $accent-color;
        font-size: 2.2rem;
        transition: .2s;
    }
}

// =====================================================================================
//
// CREDIT CARD PAYMENT SECTION
// 
// =====================================================================================

.pay-heading {
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
    color: $secondary-color;
}

#payment-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    margin: auto;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
    width: 100%;
    margin: 1rem 0;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .stripe-button {
    display: inline-block;
    padding: 20px;
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 5%;
    transition: .3s;
}

.stripe-button:hover {
    background-color: $accent-color;
    color: $secondary-color;
    transition: .2s;
    font-size: 1.7rem;
    padding: 21px;
}

// =====================================================================================
//
// MEDIA QUERIES
// 
// =====================================================================================

@media (max-width: 1110px) {
    .wrapper {
        width: 100%;
    }

// =======================================================================
// MOBILE NAVBAR
// =======================================================================

    #navbar {
        display: none;
    }

// =======================================================================
// MOBILE LANDING SECTION
// =======================================================================

    .landing-content {
        .landing-text {
            h1 {
                font-size: 5vw;
                padding-top: 3rem;
            }

            h2 {
                font-size: 3vw;
                padding-top: .2rem;
            }

            .button {
                padding: 15px;
                font-size: 4vw;
            }

            .button:hover {
                font-size: 4.5vw;
                padding: 15px;
            }
        }
    }
    
// =======================================================================
// MOBILE INFO SECTION
// =======================================================================

    .mobile-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $secondary-color;

        a {    
            color: $primary-color;
            font-size: 2rem;
            transition: .2s;
            margin: .5rem 1rem 0 1rem;
            
        }

        a:hover {
            color: $accent-color;
            transition: .2s;
            cursor: pointer;
        }
        
        span {

            a {
                font-size: 3rem;
            }
        }
    }

// =======================================================================
// MOBILE INFO SECTION
// =======================================================================

    .about-section {
        padding: 0 3rem;
    }
}

@media (max-width: 500px) {

// =======================================================================
// MOBILE LANDING SECTION
// =======================================================================

.landing-content {
    .landing-text {
        h1 {
            font-size: 8vw;
            padding-top: 3rem;
        }

        h2 {
            font-size: 5vw;
            padding-top: .2rem;
        }

        .button {
            padding: 12px;
            font-size: 7vw;
        }

        .button:hover {
            font-size: 7vw;
            padding: 12px;
        }
    }
}

}